.main {
  width: 100%;
  margin-top: 30px;

  .header {
    font-size: 50px;
    text-align: center;
  }

  .movies {
    width: 80%;
    margin: 30px auto 0 auto;

    .movie {
      display: flex;
      flex-direction: row; //TODO ADD BREAKPOINT AND SET TO COLUMN FOR RESPONSIVENESS
      margin-bottom: 100px;
      padding-top: 5px;
      scroll-snap-align: start;
      // width: 1000px;
      margin: 0 auto 100px auto;

      a {
        width: 100%;
      }

      .movie__image {
        //1000 × 563ca
        width: 70%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    
      .movie__text {
        padding: 30px 60px;
        font-size: 13px;
        align-self: center;

        .movie__title {
          text-transform: uppercase;
          font-size: 25px;
        }

        .movie__title, .movie__subtitle {
          margin-bottom: 12px;
        }

        .movie__time, .movie__watchtime {
          margin-bottom: 50px;
        }

        .movie__release {
          margin-bottom: 5px;
        }

        .movie__button {
          text-transform: uppercase;
          background-color: $white;
          color: $black;
          border: none;
          border-radius: 2px;
          font-size: 17px;
          font-weight: medium;
          width: 250px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}